<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>QR It</title>
  <link rel="icon" type="image/png"
    href="https://cdn.glitch.com/1b27de60-fcea-46be-8e8f-b9e02c018d2e%2Ffavicon.ico?v=1591023169143" />
  <meta charset="UTF-8" />
  <meta name="description" content="Website for the Discord bot QR It" />
  <meta name="keywords" content="bot, discord, chatbot, QRCode, QR, code, shorten, link, url, chat" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="CedarBlocks" />
</head>

<body>
  <%- include ("./partials/navbar.ejs") %>
  <h1 id="title">Privacy Policy</h1>
  <div id="main">
    <h2 class="pp">
      Why data is collected?
    </h2>
    <p>
      <b>1</b> Custom prefixes | <b>2</b> Custom welcome messages (Not yet
      released) | <b>3</b>
      Custom AFK status (Not yet released)
    </p>
    <br /><br />
    <h2 class="pp">
      What data is collected?
    </h2>
    <p>
      <b>1</b> Guild IDs | <b>2</b> User IDs | <b>3</b> Custom messages (For
      Custom welcome messages and Custom AFK status)
    </p>
    <br /><br />
    <h2 class="pp">
      How is your information handled?
    </h2>
    <p>
      All data that is collected is stored in a privately hosted database that is accessed only by our development team,
      We do not share or sell your data in anyway to any way to any third parties.
    </p>
    <br><br>
    <h2 class="pp">
      How to get your data removed from our databases?
    </h2>
    <p>
      Contact one of the team members by DM or join the <a href="/support" class="links">Support Server</a> and ping a
      team member.
    </p>
  </div>
</body>

</html>