body {
  background-image: radial-gradient(#0099ff, #0c1246);
  color: white;
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 0;
}

p {
  color: white;
}

#main {
  width: calc(100% - 180px);
  height: auto;
  background-color: #2C2F33;
  margin: 30px auto;
  border: solid 4px #23272A;
  padding: 10px;
  color: black;
  text-align: left;
}

#commands {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  overflow: auto;
}

#commands td,
#commands th {
  border: 2.5px solid #7289DA;
  padding: 8px;
}

#commands tr:nth-child(even) {
  background-color: #f2f2f2;
}

#commands tr:hover {
  background-color: #ddd;
}

#commands th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7289DA;
  color: white;
}

#logo {
  border-radius: 50%;
  width: 6%;
  height: auto;
}

#title {
  text-align: center;
  padding-bottom: 80px;
  font-size: 60px;
  color: white;
  font-family: "Merriweather", serif;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #2C2F33;
}

.topnav a {
  float: left;
  display: block;
  color: #0077ee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #99AAB5;
  color: black;
}

.topnav a.active {
  background-color: #4669e3;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.pp {
  color: white;
}

a:link {
  color: #0077ee;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
